# Node modules
node_modules
**/node_modules/
backend/node_modules/iconv-lite/README.md
npm-debug.log
yarn-error.log

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Angular build output
/.angular/cache

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
.history/*

# Other
*.log
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.sass-cache/

# System files
.DS_Store
Thumbs.db
